[submodule "natevolve-ark"]
	path = natevolve-ark
	url = https://github.com/blueOkiris/natevolve-ark
[submodule "imgui"]
	path = imgui
	url = https://github.com/ocornut/imgui/
[submodule "imgui-sfml"]
	path = imgui-sfml
	url = https://github.com/SFML/imgui-sfml
[submodule "ImGui-Addons"]
	path = ImGui-Addons
	url = https://github.com/blueOkiris/ImGui-Addons
